body {
  background: radial-gradient(circle, #000, #12001f);
  color: #fff;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: #ff4da6;
  margin-top: 40px;
}

.msg {
  width: 80%;
  margin: auto;
  font-size: 18px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  margin: 20px;
}

#yes { background: #ff4da6; color: white; }
#no  { background: #333; color: white; position: absolute; }

.hidden { display: none; }
