body {
  background: radial-gradient(circle, #000, #12001f);
  color: #fff;
  font-family: Arial;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: #ff4da6;
  margin-top: 40px;
}

.msg {
  width: 80%;
  margin: auto;
  font-size: 18px;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  border: none;
  margin: 20px;
}

#yes { background: #ff4da6; color: white; }
#no  { background: #333; color: white; position: absolute; }

.hidden { display: none; }
.slideshow {
  width: 280px;
  height: 280px;
  margin: 20px auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 25px rgba(255, 77, 166, 0.6);
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1.5s ease-in-out, transform 1.5s;
  transform: scale(1.1);
}

.slide.active {
  opacity: 1;
  transform: scale(1);
}
